# macOS 관련
.DS_Store

# Python 가상환경 및 캐시 파일
venv/
*/venv/
**/venv/
__pycache__/
*.py[cod]
*.pyo

# 환경 변수 파일
.env

# PyInstaller 관련 파일
build/
dist/
*.spec

# 기타 시스템 및 로그 파일들
*.log

.vagrant
cliapp/build/